body {
 background: #272822;
 color: #a6e22e;
}

table, th, td {
   border: 1px solid black;
}

#display-area {
	overflow: auto;
 	overflow: hide;
}

.target {
	background-color: red;
}

@media only screen and (min-width: 585px) {
	.flex {
		display: inline-flex;
		margin: 5px;
	}
}

@media only screen and (min-width: 400px) {
	.flex2 {
		display: inline-flex;
		margin: 5px;
	}
	.stat-fields {
		padding: 2px;
	}
}