body {
 min-width: 200px;
 max-width: 1604px;
 background: #272822;
 color: #a6e22e;
}

header {
  overflow: hidden;
  padding-top: 5px;
  text-align: center;
}

img {
	max-width: 100%;
}

#secondary-content {
	border-size: 2px;
	border-style: solid;
	border-color: black;
	float: left;
	max-width: 15%;
	height: 1000px;
}

.topcontainer {
	border-size: 2px;
	border-style: solid;
	border-color: black;
	float: right;
	max-width: 20%;
	height: 1000px;
}
.play {
	border-size: 2px;
	border-style: solid;
	border-color: black;
	text-align: center;
	width: 70%;
	height: 800px;
	float: left;
}

#navigationButtons {
	position: bottom;
}

#backup {
	width: 100%;
	max-width: 600px;
	border-size: 0px;
}

.hide {
	visibility: hidden;
}

#shop {
	border-size: 2px;
	border-style: solid;
	border-color: black;
	text-align: center;
	width: 75%;
	float: left;
}

button {
	border-size: 2px;
	border-style: solid;
	border-color: black;
	cursor: pointer;
	margin: 5px;
}

div > form {
	font-weight: bold;
}

input {
	border-size: 1px;
	border-style: solid;
	border-color: black;
	margin: 2px;
}

.info {
    position: relative;
    display: inline-block;
}

.infotext {
	visibility: hidden;
	position: absolute;
	z-index: 1;
}

.info:hover .infotext {
	visibility: visible;
	top: -5px;
	left: 105%;
}

@media only screen and (min-width: 1604px) {
	body {
		margin: 0 auto;
	}

	.play {
		width: 68%;
	}

	.topcontainer {
		max-width: 235px;
	}

	#secondary-content {
		border-size: 2px;
		border-style: solid;
		float: left;
		max-width: 237px;
	}


}

@media only screen and (max-width: 1603px) {
	.play {
		width: 62%;
	}
}

@media only screen and (max-width: 815px) {
	body {
		margin: 0 auto;
		max-width: 768px;
	}

	.play {
		width: 70%;
	}

.topcontainer {
	float: left;
	min-width: 125px;
}

}

@media only screen and (max-width: 815px) {
#secondary-content {
	max-width: 20%;
	height: 400px;
}

.topcontainer {
	max-width: 20%;
	height: 800px;
}
.play {
	height: 400px;
}
}

@media only screen and (max-width: 1043px) {
	.info:hover .infotext {
		visibility: visible;
		top: -5px;
		left: 120%;
	}
}

@media only screen and (max-width: 500px) {
	button {
	border-size: 5px;
	margin: 10px;
	padding: 10px;
}
}